<style>
h1{ padding: 10px;}
th,td{ padding:10px;}
</style>

<h1>{{admin}}</h1>
<a href="/outexcel" style="position:fixed; top:10px; right:10px; color:#000; font-size:30px;">导出</a>
<table cellspacing="10" cellpadding="10" border="1">
  <tr>
    <th>手机号</th>
    <th>省份</th>
    <th>城市</th>
    <th>门店</th>
    <th>IP</th>
    <th>创建时间</th>
  </tr>
  {{#each tInfo}}
  <tr>
    <td>{{tel}}</td>
    <td>{{province}}</td>
    <td>{{city}}</td>
    <td>{{store}}</td>
    <td>{{ip}}</td>
    <td>{{create_at}}</td>
  </tr>
  {{/each}}
</table>

<p>{{ol}}</p>
